nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    display: inline;
    margin-right: 20px;
padding: 0 5px;

}
nav li:hover{
    background-color: lightgrey;
}
nav li a{
    text-decoration: none;
    color: black;
}
/* nasted manu */
nav .dropdown{
    display: none;
    position: absolute;
    background-color: lightslategray;
    padding-left: 0;
}
nav li:hover > .dropdown{
    display: block;
}